ul.view-types
	opacity 0
	transition all .4s
	list-style none
	margin 0
	padding 0
	display inline-table
	li
		margin 0 1em
		display inline-table
		cursor pointer
		&:hover
			color steelblue

.chart.jade
	max-width 900px
	&:hover
		ul.view-types
			opacity 1