.perspective.jade
	width 100%
	overflow auto
	td
		text-align right
		
.multi-rows
	.horizontal-name
		font-size .8em
		line-height .8
		display block
	.vertical-name
		font-size .8em
		line-height 1.2
		display block
		