.page-with-add-frame
	relative top left
	padding-bottom 40px
	height 100%
	box-sizing border-box
	overflow hidden
.page-bottom
	absolute bottom 0
	width 100vw
	height 40px
	background #2c3e50
	z-index 12		
.toggle-add-label
	cursor pointer
	color #fff
	z-index 9
	margin 0 
	display inline-table
	transition all .4s ease, color .2s ease
	line-height 40px
	overflow hidden
	font-weight bold
	&:hover
		color #c94e50  !important
	.add-icon
		relative top left
		transition all .4s ease
		float left
		font-size 2em
		padding 0 .5rem 0 1rem
	span
		float left
		relative left 0
		transition all .4s ease
		
.toggle-add-checkbox
	opacity 0
	margin 0
	width 0
	height 0
	fixed top 0
	&:checked ~ .page-bottom .toggle-add-label
		color #fff
		pointer-events none
		.add-icon
			transform rotate(45deg) //scale(2)
			pointer-events auto
		span
			left 5%
			opacity 0		
	&:not(:checked) ~ .add-frame
		top 100vh
		pointer-events none
		input[type='submit']
			opacity 0

.editor
	.btn
		border-radius 4px
		border 1px solid steelblue
		display table
		padding .2em .4em
		cursor pointer
		&:hover
			background steelblue
			color #fff
	.failed
	.error
		color orange