p.error
	text-align center
.datasources.jade:not(.page)
	height 100%
	overflow-x hidden
	overflow-y auto		
ul.datasources
	display flex
	padding 0
	flex 0 0 16em
	flex-direction row
	flex-wrap wrap
	align-content stretch
	align-items flex-start